/* li,div{
    color:rgb(25, 150, 100);
} */

/* .class{
    color:coral;
    color:rgba(92, 63, 150, 0.502);
    color:#ff0000;
    color:hsl(93,65%,73%)
} */

body {
    /* background-color: aqua; */
    /* background-image: url(../img/bg.jpg);
    background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position: right top; */
    background-attachment: fixed;
    /* background: #f0f0d5 url(../img/bg.jpg) no-repeat right top; */
    background: #e9e6cc;
    margin: 0px;
}

.nav {
    background: rgb(0, 0, 0);

}

.items {
    background: rgb(0, 0, 0);
    margin: 0;
    height: 24px;
    list-style-type: none;
    padding: 24px;
    width: 50%;
    margin-left: auto;

}

.item {
    /* background: rgb(255, 55, 55); */
    display: inline;
}


.class {
    /* border-style: solid;
    border-top-style: dashed;
    border-width: 2px;
    border-color: red; */
    border: 5px solid green;
    border-radius: 10px;
    /* margin:30px; */
    /* margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px; */
    /* margin: 60px 80px 80px 0; */
    /* top right bottom left */
    /* margin:auto; */
    /* margin:inherit; */
    margin: 50px;
    padding: 50px;
    width: 50%;
    height: 400px;
    outline: 4px solid black;
    color: blue;
    text-align: left;
    /* word-spacing: 5px; */
    /* text-shadow:1px 1px purple; */
    /* direction: ltr; */
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.4vw;

}

/* .class a {
    text-decoration: underline;
    none, line-through, overline, underline
    text-transform: capitalize;
    uppercase
    letter-spacing: 3px;
} */

a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;
    margin: 0 16px;
    font-size: 1.5vw;
}

a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(89, 239, 86);
    /* font-size: 2.5em; */
}

a:active {
    font-size: 1.5em;
}

/* 
.class2{
    visibility: hidden;
    display: none;
} */

/* #box{
    position: fixed;
    bottom:0;
    right:0;
} */

.container {
    width: 100%;
    height: 70px;
    padding: 5px;
    border: 3px solid black;
    box-sizing: border-box;
}

.first {
    background: red;
    height: 45px;
    width: 30%;
    display: inline-block;
    float: right;
}

.second {
    background: blue;
    height: 45px;
    width: 30%;
    display: inline-block;
}

.myflex {
    background: rgb(67, 55, 55);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height:200px;
    align-items: baseline;
    /* center, flex-start,flex-end for justify-content and align-items */
}

.myflex>div {
    background: red;
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin:8px;
}

.mycont{
    background-color: #b8ebb9;
    border: 5px solid rgb(4, 183, 4);
    outline: 4px solid rgb(2, 97, 2);
    color: rgb(87, 83, 83);
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
}


input[type=submit]:hover {
    background-color: #45a049;
  }